@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .column {
        justify-content: center;
        width: 40%;
        padding: 10px;
        height: auto; /* Should be removed. Only for demonstration */
        margin-left: 10px;
        text-align: left;
    }
</style>

<div class="row" style="justify-content:center">
    <div class="column" style="background-color:white;">
        <ul>
            <h1 style="font-weight:bolder">이동훈</h1>
            <hr />
            <li>
                <h4 style="font-weight:bold">Major</h4>
                <p>부경대학교 컴퓨터공학과</p>

            </li>
            <li>
                <h4 style="font-weight:bold">Birth</h4>
                <p>1998.03.18</p>

            </li>
            <li>
                <h4 style="font-weight:bold">Email</h4>
                <p>ldh5444@naver.com</p>
            </li>
            <li>
                <h4 style="font-weight:bold">mbti</h4>
                <p>ISTP</p>
            </li>

        </ul>

        @*your work, your Social Security number, and your mom’s maiden name. No, wait, not those last two.<br></p>*@

    </div>
    <div class="column" style="background-color:white;">
        <h2>Column 2</h2>
        <p>Some text..</p>
    </div>
</div>
<div class="row-cols-2"></div>