@*@model IEnumerable<aspnet03_portfolioWebApp.Models.PortfolioModel>;*@

@{
    ViewData["Title"] = "홈";
}

<!-- Shared밑에 있는 _Notification.cshtml을 index.cshtml에 포함시킴 -->
<partial name="_Notification" />

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a asp-controller="Home" asp-action="AboutMe">
                    <h2 class="post-title">배워가는 개발자</h2>
                    <p>안녕하세요, 이동훈입니다🤗</p>
                    <p>컴퓨터공학과를 전공하였고 학습을 이어가고 있습니다. </p>
                    <p>스마트팩토리 개발자에 관심이 있습니다.</p>
                    <p>클릭하시면 저에 대해 확인할 수 있습니다.</p>
                </a>
                <p class="post-meta">                   
                    <a asp-controller="Home" asp-action="Portfolio">
                        Artwork
                    </a>
                    &ensp;&ensp;&ensp;&ensp;until June 04, 2023
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <div class="post-preview">

                
            </div>
        </div>
    </div>
</div>