@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "포트폴리오";
}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/uploads/pf1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/uploads/pf2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/uploads/pf3.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://github.com/annual-salary-investigation/sandwich/blob/main/Git_Image/sandwich.gif?raw=true" class="d-block w-100" alt="샌드위치 앱">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/Basic-CShap-2023/main/images/day03-image.png" class="d-block w-100" alt="C# Winform">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/Basic-CShap-2023/main/images/day06-searcher1.png" class="d-block w-100" alt="C# Winform 탐색기">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/Basic-CShap-2023/main/images/day08-memoji.png" class="d-block w-100" alt="심플 메모장">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/Basic-CShap-2023/main/images/day10-bookrentalshop-done.png" class="d-block w-100" alt="책대여점">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/pknu-wpf-2023/main/images/wp11_moviFinder_Success.gif" class="d-block w-100" alt="영화 검색 앱">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/pknu-wpf-2023/main/images/wp12_dustSensor_Success.gif" class="d-block w-100" alt="미세먼지 앱">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/pknu-wpf-2023/main/images/wpf_miniProject_Success.gif" class="d-block w-100" alt="김해시 관광지 정보">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/studyPython2023/main/Images/jupyter_folium.png" class="d-block w-100" alt="Folium OpenAPI">
                    </div>
                    <div class="carousel-item">
                        <img src="https://github.com/hun2mung/studyPython2023/raw/main/Images/dialog.png" class="d-block w-100" alt="ㅔㅛㅂ">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/miniprojects/main/part1/studyPyQt/naver_news.png" class="d-block w-100" alt="PyQt5 / Qt Designer 뉴스검색앱">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/miniprojects/main/part1/studyPyQt/naver_movie.png" class="d-block w-100" alt="PyQt 영화검색">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/miniprojects/main/part1/studyPython/code.png" class="d-block w-100" alt="QR코드 생성 앱">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/miniprojects/main/part1/image/pygame2.png" class="d-block w-100" alt="pygame">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/miniprojects/main/part1/image/folium_university1.png" class="d-block w-100" alt="pandas/folium">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/miniprojects/main/part1/image/calculator.png" class="d-block w-100" alt="PyQt 계산기">
                    </div>
                    <div class="carousel-item">
                        <img src="https://raw.githubusercontent.com/hun2mung/miniprojects/main/part2/images/SmartHomeMonitoring.gif" class="d-block w-100" alt="wpf 모니터링">
                    </div>
                    <div class="carousel-item">
                        <img src="https://github.com/hun2mung/aspnet_2023/raw/main/images/bootstrap.gif" class="d-block w-100" alt="Bootstrap 앨범 클로닝">
                    </div>
                    <div class="carousel-item">
                        <img src="https://github.com/hun2mung/aspnet_2023/raw/main/images/pinterest.gif" class="d-block w-100" alt="Pinterest 스타일 페이지 클로닝">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

