@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div>
                Your name:
                <input type="text" name="customerName" />
            </div>
            <br/>
            <div>
                Your email address:
                <input type="text" name="customerEmail" />
            </div>
            <br />
            <div>
                Details about your problem: <br />
                <textarea name="customerRequest" cols="45" rows="4"></textarea>
            </div>
            <br />
            <div style="text-align:right">
                <input type="submit" value="Submit" />
            </div>
        </div>
    </div>
</div>
