<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Clean Blog - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/themes/using/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
@*                        <a asp-action="Index" asp-controller="Home" class="logo">
                            <h4>IoT Portfolio <img src="~/iot2.png" alt=""></h4>
                        </a>*@
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="nav-link px-lg-3 py-3 py-lg-4"><a asp-controller="Home" asp-action="Index" class="active nanum-bold">홈</a></li>
                            @if (ViewData["NoScroll"] != "true")
                            {
                                <li class="nav-link px-lg-3 py-3 py-lg-4"><a href="#features" class="nanum-bold">스킬</a></li>
                                <li class="nav-link px-lg-3 py-3 py-lg-4"><a href="#about" class="nanum-bold">소개</a></li>
                                <li class="nav-link px-lg-3 py-3 py-lg-4"><a href="#portfolio" class="nanum-bold">포트폴리오</a></li>
                                <li class="nav-link px-lg-3 py-3 py-lg-4"><a href="#contact" class="nanum-bold">문의하기</a></li>
                            }                            
                            <li class="nav-link px-lg-3 py-3 py-lg-4"><a asp-action="Index" asp-controller="Board" class="nanum-bold">공지사항</a></li>
                            @*<li class="scroll-to-section"><div class="main-blue-button"><a href="#contact">Get Your Quote</a></div></li>*@
                            @if (signInManager.IsSignedIn(User))
                            {
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-link px-lg-3 py-3 py-lg-4">
                                        <a asp-controller="Admin" asp-action="ListRoles">권한관리</a>
                                    </li>
                                    <li class="nav-link px-lg-3 py-3 py-lg-4">
                                        <a asp-controller="Portfolio" asp-action="Index">포폴관리</a>
                                    </li>
                                }
                                <li class="nav-link px-lg-3 py-3 py-lg-4">
                                    <a asp-controller="Account" asp-action="Profile"
                                       asp-route-userName="@userManager.GetUserName(User)">프로필</a>
                                </li>
                                <li class="nav-link px-lg-3 py-3 py-lg-4">
                                    <form asp-controller="Account" asp-action="Logout" method="post">
                                        <button type="submit" class="btn btn-link nanum-bold">@userManager.GetUserName(User)</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-link px-lg-3 py-3 py-lg-4">
                                    <a asp-controller="Account" asp-action="Register">회원가입</a>
                                </li>
                                <li class="nav-link px-lg-3 py-3 py-lg-4">
                                    <a asp-controller="Account" asp-action="Login">로그인</a>
                                </li>
                            }                            
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <div>
        <!-- 필수! -->
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2023 PKNU AC., Ltd. All Rights Reserved.

                        <br>Web Designed by <a rel="nofollow" href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    <!-- jQuery & Bootstrap CND LINKs -->
    <script src="~/themes/seo_dream/vendor/jquery/jquery.js"></script>
    <script src="~/themes/seo_dream/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- SEO Dream 테마를 위해서 개발자 만든 js -->
    <script src="~/themes/seo_dream/assets/js/owl-carousel.js"></script>
    <script src="~/themes/seo_dream/assets/js/animation.js"></script>
    <script src="~/themes/seo_dream/assets/js/imagesloaded.js"></script>
    <script src="~/themes/seo_dream/assets/js/custom.js"></script>
    <!-- WYSWYG 에디터용 js & 한국어언어팩 js -->
    <script src="~/lib/trumbowyg/trumbowyg.min.js"></script>
    <script src="~/lib/trumbowyg/langs/ko.min.js"></script>
    <!-- trumbowyg를 site.js에서 부르기때문에 상위에 trumbowyg에 관련된 js가 먼저 나와야.. -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
